@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes border-run-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes border-run-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes border-run-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes border-run-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-top {
  animation: border-run-top 4s ease-in-out infinite;
}

.animate-right {
  animation: border-run-right 4s ease-in-out 4s infinite;
}

.animate-bottom {
  animation: border-run-bottom 4s ease-in-out 8s infinite;
}

.animate-left {
  animation: border-run-left 4s ease-in-out 12s infinite;
}
